.mw-error {

  .notfound {
    img {
      height: auto;
    }
  }

  h1 {
    @extend .mw_h1;
  }
  
  .main_text {
    color: $black;
    margin: 0 10px;

    p {
      @include trailer(1);
    }
  }

  // Buttons
  ol {
    >li > a {
      @extend .mw_btn2;
      text-align: center;
      padding: 5px;
      @include trailer(1);
    }
    > li:nth-of-type(1) > a {
      @extend .mw_btn3;
    } 
  }
}
