.mw-more_maps {

  #map_canvas {
    width: 320px !important;
    height: 320px !important;
  }

  .storeAddress {
    b {
      font-weight: bold;
    }

    br {
      display: block;
    }

    @include leader(1); 
  }
}
