.mw-browse {
  .mw_h1 {
    margin-left: 10px;
  }

  #breadcrumb-left {
    * {
      display: inline-block;
      padding-left: 5px;
      color: $gray1;
    }
    .blue {
      font-weight: bold;
    }
    @include adjust-font-size-to(12px);
    @include padding-leader(.25);
    @include padding-trailer(.25);

    border-bottom: 1px solid $gray1;
  }

  .mw-list_grid {
    margin: 0 10px;
    @include leader(1);
    @include trailer(1);

    * {
      display: inline-block;
    }
   
    // Grid and list view icons
    #mw-grid_view, #mw-list_view {
      width: 26px;
      height: 26px;
    } 
    
    #mw-list_view {
      &[active='true'] {
        @extend .icons-list2;  
      }

      &[active='false'] {
        @extend .icons-list1;  
      }
    }

    #mw-grid_view {
      &[active='true'] {
        @extend .icons-grid2;  
      }

      &[active='false'] {
        @extend .icons-grid1;  
      }
    }

    .paging-info {
      @include leader(.25);
      @include trailer(.25);
      color: $color3;
      float: right;
    }
  }

  // Page title
  #page-title-cat, .textcontainer > h1, #page-content > h1{
    color: $green;
    @extend .mw_h1;
  }

  // Sort By
  .mw-sortby {
    margin: 0 10px;
    @include trailer(1);

    .sort-by-dd {
      display: none;
    }

    select {
      height: 40px; 
      width: 100%;
      border: 1px solid #bbb;
      border-radius: 3px;
      background-image: linear-gradient(top, #fff 0%, #ededed 100%);
      color: $green;
      font-weight: bold;
      @include adjust-font-size-to($h2-size);
    }
  }

  // Product Container
  .grid_container {
  
    // ------------------
    // Grid View
    // ------------------
    &[mw_view='grid_view'] > div {
      display: block;

      width: 45%;
      margin: 2%;
      display: inline-block;
      border: 1px solid #ddd; // grey
      border-radius: 3px;
      background-color: #fff;
      @include box-shadow(0 2px 4px #ddd); // grey
     
      > * {
        display: none;
        text-align: center;
      } 

      .grid_box_image {
        display: block;
        
        img {
          padding: 10px;
          height: 180px
        }

        .grid_cust_fav {
          display: none;
        }
      }
      .grid_box_name{
        display: block;
        background-color: #ededed;
        a {
          color: #333;
        }
        @include box-shadow(0 -1px 0 #ddd, inset 0 1px 0 #fff);
        height: 35px;
        overflow: hidden;
      }
      .grid_box_gprice{
        display: block;
        font-weight: bold;
        background-color: #ededed;
      }
    }

    // ------------------
    // List View
    // ------------------
    &[mw_view='list_view'] { 
     display: block; 
     
      > div {
        &:first-child {
          border-top: 1px solid #bbb;
        }
        margin: 0 10px; 
        padding: 10px;
        border-bottom: 1px solid #bbb;
        
        .grid_box_image {
          float: left;
          > a > img {
            height: 120px;
            width: auto;
          }

          .grid_cust_fav {
            display: none;
          }
        }

        * {
          text-align: right;
        }
        
        .grid_box_name { 
          margin-bottom: 20px;
          
          > p > a {
            color: $red1;
            font-size: $h2_size;
            font-weight: bold;
          }
        }
        
        .grid_box_size {
          @include adjust-font-size-to($base-font-size);
          color: $gray1;
        }
        .grid_box_gprice{
          display: none;
        }
        .grid_box_price {
          @include adjust-font-size-to($h2-size);
          font-weight: bold;
          color: $red2;
        }

        .grid_box_save {
          @include adjust-font-size-to($base-font-size);
          .twofor {
            color: black;
            font-weight: bold;
          }

          .message {
            color: $red1;
            margin:10px 0;
          }
        }

        .grid_box_review {
          margin-bottom: 10px;
          margin-top: -10px;
        }

        .grid_box_buttons{

          .mw-add_to_cart {
            display: inline-block;
            @extend .mw_btn3;
            padding: 5px; 
          }

          p {
            display: inline-block;
          }

          .mw-more_info {
            display: inline-block;
            @extend .mw_btn5;
            background: red;
            padding: 5px; 
          }
        }
      }
    }
  }
  #cat-text-container {
    display: none;
  }

  // Pagination
  .paging-bar {
    margin: 10px; 
    height: 40px;

    .page-number-row {
      display: inline-block;
      float: right;

      .paging-button, .paging-button-current {
        // Hide other page numbers
        > a {
          display: none;
        }
        // Make prev & next buttons visible
        &.visible {
          display: inline-block;
          > a {
            @extend .mw_btn1;
            font-weight: bold;
            padding: 10px;
          }
        }
        // Make current page visible
        &.visible-current {
          display: inline-block;
          padding: 10px;
        }
      }
    }
    // View all and View pages buttons
    .paging-view-all, .paging-page-view {
      display: inline-block;
      >a {
        @extend .mw_btn1;
        font-weight: bold;
        padding: 10px;
      }
    }
  }
}
