// This file should only contain SCSS mixins
// and site-wide variables

/*************************************************************************/
/*************************************************************************/
/************************* COMMON VARIABLES ******************************/
/*************************************************************************/
/*************************************************************************/

// Standard Spacing (padding or margin)
$spacing:  10px;

//colors
$body_background: #fff;

$black: #333;
$gray1: #666;
$gray2: #999;
$gray3: #BBB;
$green: #00693b;
$red1: #7d0009;
$red2: #970404;
$blue: #2882BE;

$color1: #333; //grey 
$color2: #3160aa; // blue
$color3: $gray3; // grey
$color4: #efefef; // light grey

$error_color: #ee2a24;

// gradients
$grad1: linear-gradient(top, #fff 0%, #f2f2f2 100%);    // grey gradient
$grad2: linear-gradient(bottom, #2882be, #3bbeff);    // white to blue
$grad3: linear-gradient(bottom, #343435 0%, #535355 100%); // Dark Gray 
$grad4: linear-gradient(bottom, #d1d1d1 0%, #fff 100%); // White to Gray 
$grad5: linear-gradient(bottom, #097509 0%, #61b151 100%); //Green Gradient 
$grad6: linear-gradient(bottom, #96999b 0%, #96999b 1%, #e9ebed 100%); //Dark grey for btns
// borders
$border1: 1px solid $color3;
$border2: 1px dotted $color3;
$border3: 1px solid #097509; // border around buttons or boxes

$mw_border_radius: 3px;

// Font sizes
$base-font-size: 13px;
$base-line-height: 18px;
$relative-font-sizing: true;
@include establish-baseline($base-font-size);
$emp_size: 11px;

$h1_size: 22px;
$h2_size: 16px;
$h3_size: 14px;

// Font colors
$h1_color: $color1;
$h2_color: $green;
$h3_color: $color3;


/*************************************************************************/
/*************************************************************************/
/******************************** MIXINS *********************************/
/*************************************************************************/
/*************************************************************************/


// Headings
@mixin h1 {
  @include adjust-font-size-to($h1_size);
  font-weight: bold;
  padding: 10px 0;
  color: $h1_color;
}

@mixin h2 {
  @include adjust-font-size-to($h2_size);
  font-weight: bold;
  padding: 10px 0;
  color: $h2_color;
}

@mixin h3 {
  @include adjust-font-size-to($h3_size);
  font-weight: bold;
  padding: 10px 0;
  color: $h3_color;
}

.mw_h1 {
  @include h1;
}

.mw_h2 {
  @include h2;
}

.mw_h3 {
  @include h3;
}


/*  ##################
    ###### BARS ######
    ##################  */

// Bars and Accordions
@mixin bar_inner_base {
  display: block;
  @include adjust-font-size-to($h2_size);
  line-height: 1;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}


@mixin bar_plus_minus {
  &[data-ur-state="disabled"] > div:last-of-type {
    @extend .icons-plus;
    display: inline-block;
    float: right;
    position: relative;
    //top: -16px;
    top:0;
  }

  &[data-ur-state="enabled"] > div:last-of-type {
    @extend .icons-minus;
    display: inline-block;
    float: right;
    position: relative;
//    top: -15px;
    top:0;
  }
}

@mixin bar_browsearrows {
  &[data-ur-state="disabled"] > div:last-of-type {
    @extend .icons-browsearrow_down;
    display: inline-block;
    float: right;
    position: relative;
    //top: -12px;
    top: 0;
  }

  &[data-ur-state="enabled"] > div:last-of-type {
    @extend .icons-browsearrow_up;
    display: inline-block;
    float: right;
    position: relative;
    //top: -15px;
    top: 0;
  }
}

@mixin bar_browsearrows_dark {
  &[data-ur-state="disabled"] > div:last-of-type {
    @extend .icons-darkarrow_down;
    display: inline-block;
    float: right;
    position: relative;
//    top: -12px;
    top:0;
  }

  &[data-ur-state="enabled"] > div:last-of-type {
    @extend .icons-darkarrow_up;
    display: inline-block;
    float: right;
    position: relative;
//    top: -15px;
    top:0;
  }
}

@mixin bar_chevron {
  & > div:last-of-type {
    @extend .icons-chevron;
    display: inline-block;
    float: right;
    position: relative;
//    top: 2px;
    top:0;
  } 
}

// title bars
@mixin tbar1 {
  @include bar_inner_base;
  background-color: #390b72;
}

.mw_tbar1 {
  @include tbar1;
}

@mixin bar1 {
  @include bar_inner_base;
  @include adjust-font-size-to($base_font_size);
  @include background($grad1);
  color: $color2;
  border: 1px solid #e1e1e1;

  div:first-of-type {
    @include box-flex(1);
  }
}

@mixin bar2 {
  @include bar_inner_base;
  @include background($grad3);
  border: 1px solid #e1e1e1;
  color: $color2;
  font-weight: bold;
  text-transform: uppercase;
}

@mixin bar3 {
  @include bar_inner_base;
  @include background($grad3);
  margin: 0 -10px; 
  border: 1px solid #777;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

@mixin bar4 {
  background-color: #007f00;
  color: #fff;
  padding: 0 10px;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

@mixin bar5 {
  background-color: #7f7f7f;
  color: #fff;
  padding: 7px;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
} 

@mixin bar6 {
  @include bar_inner_base;
  color: $color2;
  padding: 10px;
  overflow: hidden;
  @include display-box;
  @include box-sizing(border-box);

  &[data-ur-state="disabled"] > div:last-of-type {
    @extend .icons-plus;
  } // close div for plus

  &[data-ur-state="enabled"] > div:last-of-type {
    @extend .icons-minus;
  } // close div for minus

  div:first-of-type {
    @include box-flex(1);
  }
  div:last-of-type {
    display: block;
    margin-top: -2px;
  } // close div (for icon)
} // this will be the first level bar on an accordian box


.mw_bar1 {
  @include bar1;
}

.mw_bar2 {
  @include bar2;
}

.mw_bar3 {
  @include bar3;
}

.mw_bar4 {
  @include bar4;
}

.mw_bar5 {
  @include bar5;
}

.mw_bar6 {
  @include bar6;
}

/*  #####################
    ###### BUTTONS ######
    #####################  */

@mixin btn1 {
  @include background($grad4);
  border: 1px solid #b7b5b5;
  color: $gray1;
  text-shadow: 0 1px 0 #FFF;
  display: block;
  @include adjust-font-size-to($base_font_size);
}

@mixin btn2 {
  @include background($grad6);
  @include box-shadow(inset 0 1px 0 0px #fff);
  border: 1px solid #717375;
  @include border-radius(3px);
  text-transform: uppercase;
  color: $black;
  font-weight: bold;
  font-size: $base_font_size;
  display: block;
  @include adjust-font-size-to($base_font_size);
} 

@mixin btn3 {
  @include background($grad5);
  @include box-shadow(inset 0 1px 0 rgba(255,255,255,.3));
  border: $border3;
  text-transform: uppercase;
  border-radius: 3px;
  text-shadow: 0 -1px 0px #104900;
  color: #FFF;
  @include adjust-font-size-to($base_font_size);
}

@mixin btn4 {
  @include background($grad2);
  @include box-shadow(inset 0 1px 0 rgba(255,255,255,.3));
  border: $border1;
  border-radius: 3px;
  text-transform: uppercase;
  text-shadow: 0 -1px 0px #104900;
  color: #FFF;
  @include adjust-font-size-to($base_font_size);
}

@mixin btn5 {
  @include border-radius(3px);
  background-color: #8a1613;
  @include box-shadow(inset 0 1px rgba(255,255,255,.5));
  border: solid 1px #991a1c;
  @include background-image(linear-gradient(bottom, #cc2326, #e6262a));
  text-shadow: 0 -1px #b31e21;
  color: #FFF;
  text-transform: uppercase;
  @include adjust-font-size-to($base_font_size);
}

.mw_btn1 {
  @include btn1;
}

.mw_btn2 {
  @include btn2;
}

.mw_btn3 {
  @include btn3;
}

.mw_btn4 {
  @include btn4;
}

.mw_btn5 {
  @include btn5;
}
// boxes

@mixin box1 {
  border: 1px solid #097509;
  @include border-radius(0px 0px 7px 7px);
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0,0,0,.2);
}

@mixin box1_head {
  @include border-radius(7px 7px 0px 0px);
  @include background($grad5);
  @include adjust-font-size-to($h2_size);
  border: 1px solid #097509;
  color: #fff;
  text-shadow: 0 -1px 0 #054205;
}

@mixin box2 {
//  @include background($grad3);
  
  form {
    @include display-box;
    @include box-sizing(border-box);

    overflow: hidden;
    position: relative;

    input[type='text'] {
      border: 1px solid #dbdbdb;
      background-color: #fff;
      box-shadow: inset 0 0 3px rgba(0,0,0,.25); 
      @include box-flex(1);
      @include border-radius(0px);
      display: block;
      margin-top: 1px;
      margin-right: 0px;
      height: 20px;
    } // mw_text_input

    input[type='submit'] {
      @include border-radius(0px);
    }
  } // close form
}

.mw_box1 {
  @include box1;
}

.mw_box1_head {
  @include box1_head;
}

.mw_box2 {
  @include box2;
}



/*************************************************************************/
/*************************************************************************/
/*************** START STYLES APPLIED TO MOOVWEB ELEMENTS ****************/
/*************************************************************************/
/*************************************************************************/

// Test class for identifying selections
.mw_testing {
  border: 4px solid purple !important;
  background: #555;
  overflow: hidden;
  margin: 2px 0;
}

// Form Styles
.mw_row {
  padding:0px 10px 5px 10px;
  overflow: hidden;
}

// Margin
.mw_margin {
  margin: $spacing;
}

// Center
.mw_center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

// This class can be applied in tritium, to hide what only scss can't do for you.
.mw_hide {
  display: none;
}

@mixin margin-lr($margin) {
  margin-left: $margin;
  margin-right: $margin;
}

@mixin padding-lr($padding) {
  padding-left: $padding;
  padding-right: $padding;
}

@mixin padding-tb($padding) {
  padding-top: $padding;
  padding-bottom: $padding;
}

// label
@mixin label {
  font-weight: bold;
  padding: 0px 0 3px 1px;
}

// input style
@mixin singlecolumn_input {
  @include box-sizing(border-box);
  @include box-shadow(inset #CCC 0 0 5px);
  margin-bottom: 5px;
  padding: 5px;
  position: relative;
  width: 100%;
  clear: both;
}

// list style
@mixin list1 {
  list-style-type: disc;
  padding: 5px 0 0 20px;
}